Source: dmagnetic
Section: games
Priority: optional
Maintainer: Thomas Dettbarn <dettus@dettus.net>
Build-Depends: debhelper (>= 10)
Rules-Requires-Root: no
Standards-Version: 4.1.2
Homepage: https://www.dettus.net/dMagnetic/
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/dmagnetic.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/dmagnetic.git

Package: dmagnetic
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Play textadventures by Magnetic Scrolls in glorious ANSI Art
 dMagnetic is a Magnetic Scrolls Interpreter. It allows one to play classic
 text adventures such as "The Pawn", "The Guild of Thieves", "Fish!", "Myth",
 "Jinxter", "Corruption" and "Wonderland" in a terminal window. The beautiful
 graphics are being rendered in glorious ANSI art.
