#!/usr/bin/make -f
#why does this not work?
export DEB_LDFLAGS_MAINT_APPEND  = -Wl#,--as-needed
export DEB_CFLAGS_MAINT_APPEND   = -Wall# -pedantic
export DH_VERBOSE                = 1
export DEB_BUILD_MAINT_OPTIONS   = hardening=+all

%:
	echo $@
	dh  $@	# linitian workaround


# dh_make generated override targets
override_dh_auto_install:
	@echo skip install target
