Source: dmagnetic
Section: games
Priority: optional
Maintainer: Thomas Dettbarn <dettus@dettus.net>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.8
Homepage: http://www.dettus.net/dMagnetic/

Package: dmagnetic
Architecture: any
Multi-Arch: foreign
Depends: ${shlibs:Depends},${misc:Depends}
Description: A Magnetic Scrolls Interpreter
 dMagnetic is a Magnetic Scrolls Interpreter. It allows one to play classic
 text adventures such as "The Pawn", "The Guild of Thieves", "Fish!", "Myth",
 "Jinxter", "Corruption" and "Wonderland" in a terminal window. The beautiful
 graphics are being rendered in glorious ANSI art. 
